*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}
body{
    font-family: 'Courier New', Courier, monospace;
}

.container{
    background-color: black;
    width: 100vw;
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
}
#logospotify{
    width: 90px;
    height: 30px;
    justify-self: flex-start !important;
}

.container-nav{
    border: 1px solid #1db954;
    width: 80%;
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: flex-end;
    align-items: center;
}



.drop{
    background-color: transparent;
    color: white;
    padding: 5px;
    font-size: 20px;
    border: none;
}

.content{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.content a{
    color: black;
    padding: 10px 12px;
    text-decoration: dotted;
    display: block;
}

.nav-perfil:hover .content {display: block;}

.button-nav{
    margin: 10px;
    background-color: transparent;
    border: none;
    color: white;
    font-weight: bold;
    font-size: large;   
}

.button-nav:hover{
    color: #1db954;
}


#perfilusuario{
    background-color: gray;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    margin: 20px;
}

@media (max-width: 468px) {
}
